<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Genshin catalog</title>
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>Genshin Catalog</h1>
        </a>
    </header>
    <main>
        <section class="content margin-top-d">
            <form action="POST" class="newItem_form pad-d rounded-5">
                <p>Are you sure you want to delete ....</p>
                <div class="formCtrl">
                    <button type="submit" class="formBtn rounded-5 pad-s">Delete</button>
                    <a href="" class="formBtn rounded-5 pad-s">Cancel</a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>